server:
  port: 5004
spring:
  application:
    name: service-offering
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/servicesdb?createDatabaseIfNotExist=true
    username: root
    password: Tirth@1234
    driver-class-name: com.mysql.cj.jdbc.Driver

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka/

spring.jpa.show-sql: true